* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    background-color: #173A6E;
    color: white;
    border-bottom: 3px solid #9ED8EA;
    padding: 1.5rem;
    margin-bottom: 1rem;
}

body {
    font-family: "open sans"
}

h3 {
    margin: 5px;
}
.adopt {
    padding: 1rem;
    margin: 5px;
}

.sentence {
    margin-left: 5px;
    padding: 1rem;
}
img {
    width: 100%;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

ul {
    list-style-type: none;
}

.dog {
    margin: .5rem;
    width: 30%;
    font-family: "Oswald";
}

.info {
    display: flex;
    flex-wrap: wrap;
}
li {
    margin:5px;
    background-color: #9ED8EA;
    border-radius: 10px;
    padding: 3px;
    font-family:"open sans"
}

.end-photos {
    height: 300px;
    display: flex;
}


.donate {
    background: linear-gradient(rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5)), url(starter_files/images/donate.jpg) center/cover;
    width: 33.3%;
    display: flex;
    height: 300px;
}

.volunteer {
    
    background: linear-gradient(rgba(0, 0, 255, .5), rgba(0, 0, 255, .5)), url(starter_files/images/volunteer.jpg) center/cover;
    width: 33.3%;
    display: flex;
    height: 300px;
}

.location {
    background: linear-gradient(rgba(0, 0, 255, .5), rgba(0, 0, 255, 0.5)), url(starter_files/images/location.png) center/cover;
    width: 33.3%;
    display: flex;
    height: 300px;
}

.text {
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    font-family: "oswald"
}
