* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    background-color: #173A6E;
    color: white;
    border-bottom: 3px solid #9ED8EA;
    padding: 1.5rem;
    margin-bottom: 1rem;
}

.adopt {
    padding: 1.5rem;
    margin-bottom: 1rem;
}

img {
    width: 100%;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

ul {
    list-style-type: none;
}

.dog {
    margin: .5rem;
    width: 30%
}

.info {
    display: flex;
    flex-wrap: wrap;
}
li {
    margin:5px;
    background-color: #9ED8EA;
    border-radius: 10px;
    padding: 3px;
}

.end-photos{
    width:33.3%;
    display: flex;
}
